.debug {
 background-color: aqua;
 height: 500px;
 border: 1px solid black;
}

body {
  background-color: #EFE9E9;
  color: #243232;
  overflow-y: hidden;
  font-family: 'Hanken Grotesk', sans-serif;
font-family: 'Merriweather', serif;
}

.container{
  display: flex;
  justify-content: center;
  align-items: end;
  height: 50vh;
  

}

.container-input {
  text-align: center;
}

.container-input input, 
.container-input button
{
  font-size: small;
  height: 50px;
  border-radius: 10px;
  border: 1px solid black;
}

.container-input input {
  width: 30%;
}

.container-play {
  
  height: 100vh;
  width: 100vh;

}
.row .col {
  display: flex;
  align-items: center;
  justify-content: center;
}


.looser {
  color: red;
}

.winner {
  color: green;
}

#welcome, #goodLuck{
  font-family: 'Libre Baskerville', serif;
  font-size: 70px;
  font-style: italic;
}
#gioca button {
  background-color: #EFE9E9;

}
#gioca button i {
  font-size: 70px;
  
}




